*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:#eed49d;
    font-family: sans-serif;
    outline:none;
}
.container{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    border:50px 50px;
}
.calculator{
    background-color: #76c995;
    padding:15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #a52929,5px 5px 5px rgba(139, 58, 58, 0.16);
    display:grid;
    grid-template-columns: repeat(4,68px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecdc45;
    box-shadow: inset 5px 5px 12px #ffffff, inset 5px 5px 12px rgba(0,0,0,.16) ;
    border: none;
    border-radius: 30px;
    color:rgb(10, 44, 20);
    font-size: 50px;
    text-align: end;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{

    height: 48px;
    width: 48px;
    background-color:#0f4f5f ;
    box-shadow:-5px -5px 12px #ffffff,5px 5px 12px rgba(0,0,0,.16);
    border:none;
    border-radius: 50%;
    margin:8px;
    font-size: 16px;
}
button:hover{
    background-color: rgb(128, 128, 128);
}
.equal{
    width:115px;
    border-radius:40px;
    background-color: #6e9110;
}